.container{
  max-width: 1000px;
}

.header{
  margin-top: 5px;
}

.header > * > *,.footer > *,.header .top-bar .top-right-bar > *,.header .main{
  display: inline-block;
}

.header .top-bar .number {
  float: left;
  padding-left: 3px;
  width: 300px;
}

.header .top-bar .top-right-bar{
  float: right;
  margin: 0px 3px;
  padding: 0px 3px;
  max-width: 700px;
}

    .header .main .title{
        padding-left: 3px;
        margin-top: 10px;
        float: left;
        width:800px;
      }

      .startpetition{
        width: 140px;
      }

        .startpetition a{
          color:#be812b;
        }

        .startpetition a:hover{
          color:#EEA236;
        }

        .startpetition .text{
          width: 60px;
          float: left;
          font-size: 20px;
        }

        .startpetition .fa{
          width: 60px;
          margin-top: 20px;
          float:right;
          font-size: 60px;
          float: right;
        }

.menu{
  float: left;
  max-width: 600px;
}

.menu .navbar{
  margin-bottom: 0px;
  border: 0px;
  background-color: #77511b;
}

.menu .navbar > *{
  max-width: 600px;
}

.menu .navbar-inverse .navbar-nav > li > a{
  color: #efefef;
}

.menu .navbar-inverse .navbar-nav > .open > a{
  background-color: #5f4015;
}

.navigation{
  width: 950px;
  display: inline-block;
  background-color: #77511b;
  border-color: #080808;
  border-radius: 4px;
  border: 1px solid transparent;
}

.search{
  float:right;
}

.fiche{
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.click {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  width: 950px;
}

.footer .copyright{
  float: left;
  font-size: 12px;
}

.footer .right{
  display: inline-block;
  float:right;
}

.footer .right .name{
  float: left;
  margin-right: 5px;
}
.footer .right .top{
  float:right;
}
.footer .right .top a{
  color: #000000;
}

.startpetitionfail{
  border: 0px;
  resize: none;
}

.dropdown a:hover{
  color:#EEA236;
}

.form-control{
  margin-bottom: 5px;
}

.form-control.fail, .errorUserExist, .errorPseudoUsed{
  border: 1px solid red;
}
.form-control.success{
  border: 1px solid green;
}

.carousel-control .fa{
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -15px;
  margin-top: -15px;
}

.createPetition {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
text-align: center;
}

.Article{
  padding:20px;
  margin:20px 0;
  border:1px solid #FFC376;
  border-left-width:5px;
  border-radius:3px;
  width: 690px;
  margin-left: auto;
  margin-right: auto;
}

.Article .titre {
  float: left;
}
.Article .author{
  margin-left: 450px;
}
.Article .numberSign{
  float: left;
}

.Article .sign {
  margin-left: 550px;
}

.etage {
  margin-top: 5px;
  margin-bottom: 8px;
}

.AllArticle{
  padding:20px;
  margin:20px 0;
  border:1px solid #FFC376;
  border-left-width:5px;
  border-radius:3px;
  width: 690px;
  margin-left: auto;
  margin-right: auto;
}
.AllArticle .Title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

}
.AllArticle .group {
  margin-bottom: 25px;
  


}
.AllArticle .group .DateandAuthor{
  float: left;
  font-weight: bold;
}
.AllArticle .group .Categorie {
  margin-left: 530px;
}
.AllArticle .Description {

  margin-bottom: 25px;
}


.AllArticle #buttonsign {

  margin-top: 50px;
  margin-left: 70px;

  width: 550px;


}
  